importFrom(plyr)
importFrom(ggplot2)
importFrom(scales)
importFrom(ROCR)
importFrom(rjson)
#importFrom(xlsx)
importFrom(party)
importFrom(zoo)
importFrom(e1071)
importFrom(stringr)
importFrom(RRF)

export(
	writetable, readtable, freqtable, df_summary, summary_numvector,
	str_capitalize, str_clean, str_first_upper,
	str_is_email, str_pattern, str_left, str_right,
	str_remove_tilde,
	plot_bar, plot_pareto, plot_pie, plot_dist, # plot_density, plot_hist,
  plot_dist_pres, 
  colors_hc, theme_hc,
  run_models,
  table_bivariate,
	plot_roc, plot_gain,
	plot_complete_df, plot_calendar_hm,
	aucroc, divergence, gain, gini, ks, oddstable, pred_ranking, pred_ranking_rrf, summary_predictions,
	mod_fit,
	char2factor,
	supervised_clust, conf_matrix,
	truncate, df_to_json
)
